$background-color: #D4D3C2;
$font-color: #303030;
$primary-button-color: #F4976C;
$primary-button-hover-color: darken($primary-button-color, 3%);
$primary-button-active-color: darken($primary-button-color, 6%);
$secondary-button-color: #B4DFE5;
$secondary-button-hover-color: darken($secondary-button-color, 3%);
$secondary-button-active-color: darken($secondary-button-color, 6%);
$tertiary-button-color: #FFFFFF;
$tertiary-button-hover-color: darken($tertiary-button-color, 3%);
$tertiary-button-active-color: darken($tertiary-button-color, 6%);
$header-color: #E2A65E;
$border-color: #B0B0B0;
$link-color: #809E05;
$link-hover-color: darken($link-color, 3%);
$link-active-color: darken($link-color, 6%);
$panel-header-color: #F7E4CE;

@mixin button {
    border-radius: 6px;
    border: 0;
    color: $font-color;
    padding: 8px;
}

@mixin primary-button {
    @include button;

    background-color: $primary-button-color;
    &:hover {
        background-color: $primary-button-hover-color;
    }
    &:active {
        background-color: $primary-button-active-color;
    }
}

@mixin secondary-button {
    @include button;
    
    background-color: $secondary-button-color;
    &:hover {
        background-color: $secondary-button-hover-color;
    }
    &:active {
        background-color: $secondary-button-active-color;
    }
}

@mixin tertiary-button {
    @include button;
    
    background-color: $tertiary-button-color;
    border: 1px solid $font-color;
    &:hover {
        background-color: $tertiary-button-hover-color;
    }
    &:active {
        background-color: $tertiary-button-active-color;
    }
}

