@import './config';

.panel {
    border: 1px solid $border-color;
    border-radius: 8px;
    background-color: #FFFFFF;
    max-width: 1024px;
    margin: 1em auto;
    padding: 0;
    overflow: hidden;

    &__title {
        background-color: $panel-header-color;
        margin: 0;
    }

    &__content {
        padding: 1em;
    }
}