.information-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  .information {
    background-color: $yellow;
    padding: $small-spacer $medium-spacer;
    border-radius: 0 10px 10px 0;
    @include transition();
    width: 60%;

    h2,
    h3 {
      margin-bottom: $small-spacer;

      span {
        font-size: 0.8rem;
      }
    }

    .more-information {
      display: flex;
      justify-content: space-between;
      overflow: hidden;

      a {
        align-self: flex-end;
        color: white;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
