.fetch-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://images.unsplash.com/photo-1552332386-f8dd00dc2f85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
  background-size: cover;
}

.button-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167ffb, #0f60c4);
  transition: background 0.3s ease;
  border: 1px solid #0f60c4;
  font-family: $bodyFont;
}
hover {
  background: linear-gradient(#147eff, #0f67da);
  color: white;
}
