#root {
  background-color: antiquewhite;
}
/* Header CSS */
#header {
  background-color: rgb(236, 100, 22);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  height: 140px;
}

h1 {
  font-size: 45px;
  font-family: 'Bungee Shade';
  color: white;
}

.logo {
  width: 120px;
  height: 100px;
  padding: 25px 10px;
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Search Page CSS */

.search-page {
  text-align: center;
}

.display {
  margin-top: 20px;
}

.restaurant-info {
  display: flex;
  justify-content: center;
  align-items: left;
  margin: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.restaurant-box {
  width: 100vw;
  top: 50%;
}

.button {
  background-color: rgb(236, 100, 22);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}



